.project-page {
  padding: 50px;
}

.projects {
  text-align: center;
}

.project-section {
  margin-top: 30px;
}

.project-card {
  border: 1px solid rgba(100, 100, 111, 0.973);
  border-radius: 8px;
  padding: 20px;
  width: 70%;
  margin: 90px auto 90px auto;
  box-shadow: rgba(100, 100, 111, 0.973) 0px 7px 29px 0px;
  transition: transform 0.3s ease-in-out;
}
h1 {
  color: wheat;
  font-size: 70px;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.project-card img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 15px;
}

.project-card h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.project-card p {
  color: #b1b0b0;
  margin-bottom: 15px;
}
.minor-projects {
  margin-bottom: 150px;
  margin-top: 200px;
}
.Major-projects {
  margin-bottom: 100px;
}
.project-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
}

.project-button:hover {
  background-color: #0056b3;
}

@media (max-width: 768px) {
  h1 {
    color: wheat;
    font-size: 30px;
  }
  p {
    text-align: center;
    font-size: 12px;
  }
  .minor-projects {
    margin-bottom: 50px;
    margin-top: 150px;
  }
  .Major-projects {
    margin-bottom: -50px;
  }
  .project-page {
    padding: 30px;
  }
  .project-card {
    border: 1px solid rgba(100, 100, 111, 0.973);
    border-radius: 8px;
    padding: 20px;
    width: 80%;
    margin: 90px auto 90px auto;
    box-shadow: rgba(100, 100, 111, 0.973) 0px 7px 29px 0px;
    transition: transform 0.3s ease-in-out;
  }
}
