.experience-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  color: white;
  padding: 20px;
<<<<<<< HEAD
  gap: 20px;
=======
  overflow-y: hidden;
>>>>>>> 7f6d1a6e6865aeef46184b99bd2dfb7ffae93557
}

.card {
  border-radius: 20px;
  background: linear-gradient(-225deg, #65379b 0%, #886aea 53%, #6457c6 100%);
  padding: 18px;
  width: 38%;
  height: 60%;
  box-sizing: border-box;
}
.card h1 {
  font-size: 4rem;
  margin-bottom: 10px;
  color: #ffffff;
}

ul {
  list-style: circle;
  padding: 10px;
}

li {
  margin-bottom: 8px;
  color: #ffffff;
  font-size: 15px;
}

/* Add media query for responsiveness */
@media (max-width: 768px) {
  .experience-container {
    flex-direction: column;
    height: 100vh;
    background-color: black;
    margin-top: 100px;
    margin-bottom: 200px;
  }

  .card {
    width: 100%;
    height: 80%;
    margin-bottom: 16px;
  }
  .card h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    color: #ffffff;
  }
}
