body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  background-image: linear-gradient(315deg, #0e0e0e 10%, #000000 84%);
  background-color: #000000;
}

::-webkit-scrollbar {
  width: 10px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background-color: #222222; /* Track color */
}

::-webkit-scrollbar-thumb {
  background-color: #6e6d6d; /* Thumb color */
  border-radius: 2px; /* Rounded corners */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #ffffff; /* Thumb color on hover */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
